@font-face {
  font-family: 'font-medium'; /* 사용할 폰트의 이름을 정의 */
  src: url('../../../public/fonts/GmarketSansTTFMedium.ttf'); /* 폰트 파일의 위치 */
}

@font-face {
  font-family: 'font-light'; /* 사용할 폰트의 이름을 정의 */
  src: url('../../../public/fonts/GmarketSansTTFLight.ttf'); /* 폰트 파일의 위치 */
}


.post-list-view {
  background-color: #ffffff;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}


.post-list-view .search-area {
  background-image: url(../../../public/img/background.png);
  width: 100%;
  display: flex;
  align-items: center;
  justify-items: center;
  height: 277px;
}

.tabpanel-container {
  width: 100%;
  justify-items: center;
}

.post-list-view .tabpanel {
  background-color: #ffffff;
  border-radius: 7px;
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-items: center;
}

.city-select-area {
  height: 100%;
  border-right: 1px solid #d3d3d3;
  display: flex;
  flex-direction: column;
  width: 220px;
}

.hashtag-select-area {
  height: 100%;
  border-right: 1px solid #d3d3d3;
  display: flex;
  flex-direction: column;
  width: 350px;
}

.pin-select-area {
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 200px;
}

.search-btn-area {
  height: 40px;
  border-left: 2px solid #328CA8;
  width: 150px;
}

.search-btn-text {
  font-family: 'font-medium';
  color: #328CA8;
  font-size: 20px;
  width: 100%;
  height: 100%; 
  display: flex;
  align-items: center; 
  justify-content: center; 
}


.post-list-view .select-text-1 {
  color: #909090;
  font-family: "Abel", Helvetica;
  font-size: 12px;
  text-align: left;
  padding: 10px 0px 5px 20px;
}

.post-list-view .select-text-2 {
  color: #222222;
  font-family: "Arial-Bold", Helvetica;
  font-size: 15px;
  font-weight: 700;
  text-align: left;
  padding: 0px 0px 10px 20px;
}

.main-container {
  height: 200px;
  background-color: #f0f0f0;
}

.filter-menu-area {
  display: flex;
  justify-content: center;
}

.post-list-view .button-5 {
  background-color: #328ca8;
  border-radius: 42px;
  height: 42px;
  width: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.post-list-view .text-wrapper-30 {
  color: #ffffff;
  font-family: 'font-medium';
  font-size: 15px;
  height: 18px;
  width: 90px;
}

.post-list-view .linear-map-location {
  height: 24px !important;
  width: 24px !important;
}